@font-face {
  font-family: "iconfont"; /* Project id 4819063 */
  src: url('//at.alicdn.com/t/c/font_4819063_ve4et144ehr.woff2?t=1737985479099') format('woff2'),
       url('//at.alicdn.com/t/c/font_4819063_ve4et144ehr.woff?t=1737985479099') format('woff'),
       url('//at.alicdn.com/t/c/font_4819063_ve4et144ehr.ttf?t=1737985479099') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shiyongshuoming:before {
  content: "\e646";
}

.icon-41shuoshuo:before {
  content: "\e658";
}

.icon-JC_054:before {
  content: "\e660";
}
